@using Day5.BL.ViewModels.Ticket;

@model TicketDetailsVM;

<a asp-action="Add">Add a new item</a>

<div class="container">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Id</h5>
            <h6 class="card-subtitle mb-2 ">@Model.Description</h6>
            <h6 class="card-subtitle mb-2 ">@Model.DeptName</h6>
            <h6 class="card-subtitle mb-2 ">@Model.DevelperCount</h6>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Index">List</a>
        </div>
    </div>

</div>
